.subtitle {
	color: var(--light-gray);
	font-size: 0.85rem;
	padding-top: calc(4 / 16 * 1rem);
}

.form {
	border: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
}

.btn {
	width: calc(45 / 16 * 1rem);
	height: calc(45 / 16 * 1rem);
	border-radius: 50%;
	background-color: var(--dark-blue);
	position: relative;
	border: none;
	color: var(--medium-gray);
	font-weight: 700;
	line-height: 3;
}

.btn:hover {
	background-color: var(--primary);
	color: var(--white);
}

.btn:focus {
	background-color: var(--light-gray);
	color: var(--white);
}
